<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>
<script th:src="@{/js/web/backoffice/product/formproduct.js}" type="text/javascript"></script>
<nav th:replace="layout::menu"></nav>
<div class="card">
    <div class="card-header text-bg-danger">
        Mantenimiento de productos:
    </div>
    <div class="card-body">
        <button id="btnagregar" type="button" class="btn btn-primary">Agregar</button>
        <hr />
        <div id="divmensaje"></div>
        <table id="tblproducto" class="table">
            <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio Unitario</th>
                <th scope="col">Categoria</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Actualizar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${listproduct}">
                <td th:text="${product.productid}"></td>
                <td th:text="${product.productname}"></td>
                <td th:text="${product.unitprice}"></td>
                <td th:text="${product.category.categoryname}"></td>
                <td th:text="${product.supplier.companyname}"></td>
                <td>
                    <button type="button" class="btn btn-primary btnactualizar"
                        th:data-prodcod="${product.productid}"
                            th:data-prodname="${product.productname}"
                            th:data-produnit="${product.unitprice}"
                            th:data-prodcateg="${product.category.categoriid}"
                            th:data-prodsupp="${product.supplier.supplierid}"
                            th:data-proddiscont="${product.discontinued}">Actualizar</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>